<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardDao">
  <resultMap type="board" id="boardMap">
    <id column="BNO" property="no"/> 
    <result column="MEMBS_MNO" property="mno"/>
    <result column="TITLE" property="title"/>
    <result column="CONTENTS" property="contents"/>
    <result column="WRITER" property="writer"/> 
    <result column="CRE_DT" property="cre_dt"/>
    <result column="VW_CNT" property="vw_cnt"/>
  </resultMap>
  
  <select id="selectBoardList" resultMap="boardMap">
    select * from BOARDS
    order by BNO desc
    limit #{startIndex}, #{length}
  </select>
  
  <select id="countAll" resultType="int">
    select count(*)
    from BOARDS
  </select>
  
  <insert id="insert" parameterType="board">
    insert into BOARDS(MEMBS_MNO, TITLE, CONTENTS, CRE_DT,VW_CNT,WRITER)
    values(#{mno},#{title},#{contents},#{cre_dt},1,#{writer})
  </insert>
  
  <select id="selectOne" resultMap="boardMap" parameterType="int">
    select * from BOARDS
    where BNO = #{no}
  </select>
  
  <update id="updateViewCount" parameterType="board">
    update BOARDS set 
    VW_CNT = #{vw_cnt}
    where BNO = #{no}
  </update>
  
  <update id="update" parameterType="board">
    update BOARDS set 
    TITLE = #{title}, 
    CONTENTS = #{contents} 
    where BNO = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from BOARDS 
    where BNO = #{no}
  </delete>

</mapper>
