<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MemberDao">
  <resultMap type="member" id="memberMap">
    <id column="MNO" property="no"/> 
    <result column="EMAIL" property="email"/>
    <result column="PWD" property="password"/>
    <result column="MNAME" property="nickname"/>
    <result column="TNO" property="tno"/>
    <result column="GEN" property="gender"/>
    <result column="POSITION" property="position"/>
    <result column="HEIGHT" property="height"/>
    <result column="WEIGHT" property="weight"/>
    <result column="SKILLS" property="skill"/>
    <result column="TAUTH" property="tauth"/>
    
  </resultMap>
  
  <select id="selectOneByEmailAndPassword" resultMap="memberMap" parameterType="map">
    select * from MEMBS
    where EMAIL=#{email} and PWD=password(#{password})
  </select>
  
  <select id="confirmEmail" resultMap="memberMap" parameterType="map">
    select * from MEMBS
    where EMAIL=#{email}
  </select>

  <select id="confirmNickname" resultMap="memberMap" parameterType="map">
    select * from MEMBS
    where MNAME=#{nickname}
  </select>
  
  <select id="selectOne" resultMap="memberMap" parameterType="int">
    select * from MEMBS
    where MNO=#{no}
  </select>
  
  <insert id="insertMember" parameterType="map">
		insert into MEMBS (EMAIL, PWD, MNAME, TAUTH)
    values (#{email}, password(#{password}), #{nickname}, 0)
  </insert>
  
  <update id="update" parameterType="member">
    update MEMBS set
    MNAME = #{nickname},
    GEN = #{gender},
    POSITION = #{position},
    HEIGHT = #{height},
    WEIGHT = #{weight},
    SKILLS = #{skill}
    where MNO = #{no}
  </update>
  
  <update id="updateAll" parameterType="member">
    update MEMBS set
    MNAME = #{nickname},
    PWD = password(#{password}),
    GEN = #{gender},
    POSITION = #{position},
    HEIGHT = #{height},
    WEIGHT = #{weight},
    SKILLS = #{skill}
    where MNO = #{no}
  </update>
  
  <update id="updateTeamNo" parameterType="map">
    update MEMBS set
    TNO = #{tno}
    where MNO = #{no}
  </update>
  
  <update id="updateTauth" parameterType="map">
    update MEMBS set
    TAUTH = 1
    where MNO = #{no}
  </update>

</mapper>
