<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PhotoDao">
  <resultMap type="photo" id="photoMap">
    <id column="PHNO" property="no"/> 
    <result column="MNO" property="mno"/>
    <result column="PHOT_PATH" property="photo_path"/>
  </resultMap>
  
  <insert id="insert" parameterType="photo">
    insert into MEMBS_PHOS(MNO, PHOT_PATH)
    value(#{mno}, #{photo_path})
  </insert>
  
  <update id="update" parameterType="photo">
    update MEMBS_PHOS set
    PHOT_PATH = #{photo_path}
    where MNO = #{mno}
  </update>
  
  <select id="selectOnePhoto" resultMap="photoMap" parameterType="int">
    select * from MEMBS_PHOS
    where MNO = #{mno}
  </select>
  
</mapper>
