<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TeamDao">
  <resultMap type="team" id="teamMap">
    <id column="TNO" property="no"/> 
    <result column="TNAME" property="teamName"/>
    <result column="TDESC" property="teamDesc"/>
    
  </resultMap>
  
  <insert id="insertTeam" parameterType="map">
    insert into TEAMS (TNAME, TDESC)
    values (#{teamName}, #{teamDesc})
  </insert>
  
  <select id="selectTeam" resultMap="teamMap" parameterType="String">
    select * from TEAMS
    where TNAME = #{teamName}
  </select>
  
  <select id="selectOne" resultMap="teamMap" parameterType="int">
    select * from TEAMS
    where TNO=#{no}
  </select>
  
  <update id="update" parameterType="map">
    update TEAMS set
    TDESC = #{teamDesc}
    where TNO = #{no}
  </update>
  
  <select id="selectTeamList" resultMap="teamMap" parameterType="map">
    select * from TEAMS
    limit #{startIndex}, #{length}
  </select>
  
  <select id="countAll" resultType="int" parameterType="int">
    select count(*)
    from TEAMS
  </select>
  
  <delete id="delete" parameterType="int">
    delete from TEAMS
    where TNO = #{no}
  </delete>
  
  
</mapper>
