 *{
  margin:0;
  padding:0;
} 
body{
  width:100%;
  height: 100%;
}
header{
  width:100%;
  height: 70px;
  background: black;
}
header h3 {
  /* float: left; */
  color: white;
  position: absolute;
  left:100px;
  top:3px;
  font-size: 25px;
  font-family: Brush Script MT;
}
header #logoimage {
  position:absolute;
  left: 30px;
  top: 5px;
  width:60px;
  height: 60px;
  border-radius: 100%;
}

header ul{
  float: right;
  position: relative;
  right: 100px;
}
header li  {
  list-style: none;
  float: left;
  padding: 20px 30px 20px 20px;
  pointer: cursor;
  text-decoration: none;
}
header li a{
  color: #ffa500;
  text-decoration: none;
}

header li a:hover {
  color: white;
  text-decoration: none;
  
}

 #icon{
  width:50px;
  height:50px;
  position: absolute;
  right: 45px;
  top:10px;
}
.loginUser_form{
    width: 134px;
    height: 108px;
    background: #e09115;
    position: absolute;
    right: 7px;
    top: 70px;
    line-height: 23px;
    text-align: center;
    color: navy;
}
.loginUser_form span{
  display: inline-block;
  margin-top: 10px; 
}
 .mypage_btn,.logout_btn{
  border:none;
  font-size: 8px;
  font-weight: bold;
  width:50px;
  height: 30px;
  border: 3px solid navy;
  background: white;
  border-radius: 10px;
}
 .mypage_btn:hover,.logout_btn:hover{
    background: navy;
    color: white;
    border: 3px solid white;
    font-weight: bold;
 }
 .login_btn{
  position: absolute;
  top:0;
  right:130px;
  margin-top:20px;
  background: none;
  width:50px;
  height:30px;
  border:none;
  
}

.login_btn a,.signup_btn a{
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 3px solid #ffa500;
  border-top: 3px solid #ffa500;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family:play;
  text-decoration: none;
}
.signup_btn{
  position: absolute;
  top:0;
  right:50px;
  margin-top:20px;
  background: none;
  width:60px;
  height:30px;
  border:none;
}

.modal-content {
  position: relative;
  height: 600px;
  width: 405px;
  margin: auto;
  padding: 10px 10px; 
  /* background: url('../images/names.jpg') no-repeat center center; */
  background-color: #353535;
  background-size: cover;
  /* box-shadow: 0px 30px 60px -5px #000; */
}
.active {
  border-bottom: 2px solid #ffa500;
}
.nonactive {
  color: rgba(255, 255, 255, 0.2); 
}

header h2 {
  font-size: 22px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  margin-left: 20px;
  color: white;
}

.text {
  border: none;
  width: 80%;
  padding: 10px 20px;
  display: block;
  height: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  color: white;
}

.text:focus {
  outline: 0;
  border: 2px solid #ffa500;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

#saveEmail {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-left: 20px;
}

#saveEmail:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}
#saveEmail:focus {
  outline-color: #ffa500;
}

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
  color: white;
}

#facebook_btn {
  background-color: blue;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  font-size: 16px;
  letter-spacing: 3px;
}

.buttons {
  background-color: #ffa500;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  font-size: 16px;
  letter-spacing: 3px;
}


hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 65px;
  position: relative;
}

.forgot {
  text-align: center;
  display: block;
  top: 100px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}

.pointer {
  cursor: pointer;
}


#confirm_emailbtn {
  position: absolute;
  top: 135px;
  right: 20px;
  background-color: #E66944;
  color: #FFF;
  width: 60px;
  height: 20px;
  border-radius: 20px;
  font-size: 12px;
  border: none;
}

#confirm_nickbtn {
  position: absolute;
  top: 330px;
  right: 20px;
  background-color: #E66944;
  color: #FFF;
  width: 60px;
  height: 20px;
  border-radius: 20px;
  font-size: 12px;
  border: none;
}

.position_wrap{
  margin : 0 auto;
  width: 80em;
}

.position_title {
  margin-bottom: 2em;
  margin-top: 1em;
  text-align: center;
}

.position_title h2 {
    border-bottom-color: #e3e3e3;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    color : grey;
}

.position {
  display : flex;
  flex-wrap : wrap;
  justify-content : center;
  margin-bottom : 4em;
}

.position_part {
    padding: 1em 2em 0.1em 2em;
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
    margin-top: -1px;
    width: 33.33333%;
    border-color: #e3e3e3;
    text-align : center;
}

span.pos_c {
  color: #ff2626;
  font-size: 35px;
  font-weight: bold;
}

h3.pos_c {
  color: #ff2626;
  margin-top: 5px;
  margin-bottom: 20px;
}

span.pos_pf {
  color: #1f43dc;
  font-size: 35px;
  font-weight: bold;
}

h3.pos_pf {
  color: #1f43dc;
  margin-top: 5px;
  margin-bottom: 20px;
}

span.pos_sf {
  color: #59c1fc;
  font-size: 35px;
  font-weight: bold;
}

h3.pos_sf {
  color: #59c1fc;
  margin-top: 5px;
  margin-bottom: 20px;
}

span.pos_pg {
  color: #159b3e;
  font-size: 35px;
  font-weight: bold;
}

h3.pos_pg {
  color: #159b3e;
  margin-top: 5px;
  margin-bottom: 20px;
}

span.pos_sg {
  color: #fb9511;
  font-size: 35px;
  font-weight: bold;
}

h3.pos_sg {
  color: #fb9511;
  margin-top: 5px;
  margin-bottom: 20px;
}

.position_part p {
  font-size: 12px;
  font-weight: bold;
}

.terms_wrap{
  margin : 0 auto;
  width: 80em;
}

.terms_title {
  margin-bottom: 3em;
  margin-top: 1em;
  text-align: center;
}

.terms_title h2 {
    border-bottom-color: #e3e3e3;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    color : grey;
}

.terms {
  display : flex;
  flex-wrap : wrap;
  justify-content : center;
  margin-bottom : 5em;
}

.terms_part {
    padding: 1em 2em 1em 2em;
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
    margin-top: -1px;
    width: 20%;
    border-color: #e3e3e3;
    text-align : center;
    font-weight : bold;
    
}

.terms_part:not(.blank) {
  cursor: pointer;
}

.terms_part:not(.blank):hover {
  background-color : #c98069;
  }

.blank {
  background-color : rgba(74, 30, 30, 0.33);
}

.terms_modal {
  border : 1px solid black;
  margin: 0 auto;
  width: 40em;
  padding: 1em;
  box-shadow: 5px 5px 10px #6f6e6f;
  display: none;
  position: absolute;
  left : 33%;
  background-color : dodgerblue;
}

.terms_modal_close {
  text-align : right;
  height: 15px;
}

.terms_modal_close span {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 0;
  cursor : pointer;
  color : white;
  text-shadow: 1px 2px 3px black;
}

.terms_modal hr {
  border : 1px solid rgba(255,255,255, 0.8);
  position : relative;
  top : 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.terms_modal_title {
  margin-top: 10px;
}

.terms_modal_desc {
  font-size: 15px;
}

.rules_wrap{
  margin : 0 auto;
  width: 80em;
  margin-bottom: 150px;
}

.rules_title {
  margin-bottom: 3em;
  margin-top: 1em;
  text-align: center;
}

.rules_title h2 {
    border-bottom-color: #e3e3e3;
    display: inline-block;
    padding-bottom: 0.4em;
    border-bottom-style: double;
    border-bottom-width: 4px;
    color : grey;
}

.rules {
  display : flex;
  flex-wrap : wrap;
  justify-content : center;
  margin-bottom : 2em;
}

.rules_part {
    padding: 1em 2em 1em 2em;
    border-style: solid;
    border-width: 1px;
    margin-left: -1px;
    margin-top: -1px;
    width: 25%;
    border-color: #e3e3e3;
    text-align : center;
    cursor : pointer;
}

.rules_modal {
  width: 40em;
  margin: 0 auto;
  display: none;
  position: relative;
  top: -176px;
}

.rules_modal_close {
  text-align : right;
}

.rules_modal_close span {
  font-size: 30px;
  color: white;
  right: 80px;
  position: relative;
  cursor: pointer;
}


.carousel {
  background: linear-gradient(#000000, rgb(130, 0, 0) );
  color : white;
}

.carousel-inner {
  width: 80%;
  left : 60px;
  padding : 0 20px 0 20px;
}

.rules_modal .active {
  border: none;
}

.item h3{
  border-bottom-style: double;
  border-bottom-width: 4px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-color: tomato;
  color: tomato;
  font-weight: bold;
  text-align: center;
}

.item p {
  border-bottom-style: double;
  border-bottom-width: 4px;
  padding-bottom: 30px;
  border-color: tomato;
}
