
.login_wrap{
	position: relative;
	height: 560px;
	width: 405px;
	margin: auto;
	padding: 60px 60px;
	/* background: url('../images/names.jpg') no-repeat center center; */
	background-color: #353535;
	background-size: cover;
	box-shadow: 0px 30px 60px -5px #000;
}

.login_form {
	padding-top: 60px;
}

.active {
	border-bottom: 2px solid #ffa500;
}
.nonactive {
	color: rgba(255, 255, 255, 0.2); // 굳이 흐리게?
}

h2 {
	font-size: 22px;
	padding-bottom: 5px;
	letter-spcaing: 2px;
	display: inline-block;
	margin-left: 20px;
	color: white;
}

h2:first-child {
  padding-left: 0px;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  color: white;
}

.text:focus {
  outline: 0;
  border: 2px solid #ffa500;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}

#saveEmail {
 	-webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-left: 20px;
}

#saveEmail:checked:after {
	content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}
#saveEmail:focus {
  outline-color: #ffa500;
}

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
  color: white;
}

.buttons {
  background-color: #ffa500;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  font-size: 16px;
  letter-spcaing: 3px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}

a {
  text-align: center;
  display: block;
  top: 120px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}

.signup_form {
	display: none;
}




