*{
	margin:0;
	padding:0;
	text-decoration: none;
}

body{
	width:100%;
	height: 100%;
}
header{
	width:100%;
	height: 65px;
	background: black;
	
}
header h3 {
	float: left;
	color: white;
	position: absolute;
	left:100px;
	top:20px;
	font-size: 25px;
	font-family: Brush Script MT;
}
header img {
	width:60px;
	height: 60px;
	border-radius: 100%;
	padding-left: 30px;
	padding-top:5px;
}

header ul{
	float: right;
}
header li  {
	list-style: none;
	float: left;
	padding: 20px 30px 20px 20px;
}
header li a{
	color: #ffa500;
	text-decoration: none;
}
#icon{
	width:60px;
	height: 35px;
	position: absolute;
	right:80px;
	top:15px;
}

.loginUser_form{
	width:160px;
	height: 110px;
	background: #229396;
	position: absolute;
	right: 30px;
	top:65px;
	line-height: 25px;
	text-align: center;
}
.loginUser_form span{
	display: inline-block;
	margin-top: 6px;
}
.mypage_btn,.logout_btn{
	border:none;
	font-size: 10px;
	font-weight: bold;
	width:50px;
	color: white;
}

.mypage_btn{
	background: #2a5769;
}
.logout_btn{
	background: #002e40;
}

.asidemenu ul {
	position:fixed;
       top:50%; 
       left:0px;
       margin-top:-100px; 
       z-index:13;
}
.asidemenu ul li {
	display:block; 
	width:200px; 
	height:60px; 
	font-family:'righteous';
	font-size:22px;
	text-align:right;
	overflow:hidden;
	box-sizing:border-box;
	border-top:1px solid white;
	font-weight: bold;
}

.asidemenu li.active a{
	color:white;
	font-size:30px;
}
.asidemenu li.nonactive{
	border-top:1px solid #3A3A3A;
}
.asidemenu li.nonactive a{
	color:#3A3A3A;
	font-weight: bold;
}



.mypage_bg{
	height: 1050px;
	background: url(../images/slamdunk2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.mypage{
	border: 5px solid white;
	position:relative;
	width:1000px;
	height: 600px;
	border-radius: 20%;
	left:300px;
	margin-top: 30px;
	}
.left_form{
	position: absolute;
	left: 130px;
	top:40px;
	color: white;
	font-size: 18px;
}
.photo_form h3{
	margin-left: 20px;
	margin-bottom: 10px;
}
.photo_form img{
	border-radius: 100%;
}
.photo_form input{
	display: block;
	position: relative;
	left: 20px;
}

.middle_form{
	position:absolute;
	left: 150px;
	bottom:60px;
	color: white;
	font-size: 18px;
}
.email_form h3,.name_form h3,.pwd_form h3{
	margin-top: 15px;
}
.right_form{
	position: absolute;
	left: 430px;
	top:150px;
	color: white;
	font-size: 18px;
	line-height: 30px;
}
.gender_form p ,input{
	display: inline-block;
}
.height_form p,.weight_form p{
	display: inline-block;
}
.gender_form h3,.height_form h3,
.weight_form h3,.position_form h3,
.skill_form h3{
margin-top: 15px;
}
.cancel_btn,.commit_btn{
	width:100px;
	height: 50px;
	margin:20px;
	position: relative;
	top:30px;
	left:650px;
	background: #3A3A3A;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border:none;
	border-radius: 20%;
	cursor: pointer;
	outline: 0;
}

.teampage_bg{
	background: black;
	}

.teampage img{
	position: relative;
	top:25px;
	left:50px;
	width:200px;
	height:200px;
	display: inline-block;
	border-radius: 100%;
}
.teampage article{
	width:1150px;
	height: 250px;
	background: blue;
	color: white;
	position:relative;
	left: 240px;
}

.teampage article p {
	line-height: 25px;
	position: absolute;
	left: 0px;
	top:110px;
}
.teampage article p.team{
	top:30px;
}
.teampage article p.number{
	top:50px;
}
.teampage article p.address{
	top:70px;
}
.teampage article span.info{
	width:600px;
	height: 200px;
	background: skyblue;
	position: absolute;
	right:250px;
}
.members1,.members2{
	color: white;
	display: inline-block;
	position: relative;
	left: 220px;
}
.members1 h3{
	position: relative;
	top:10px;
	left: 20px;
}
.member1,.member2,.member3,.member4{
	width:250px;
	height: 300px;
	background: red;
	margin:25px;
	float: left;
	text-align: center;
	}
.member1:hover,.member2:hover,.member3:hover,.member4:hover{
	width:270px;
	height: 320px;
	background: red;
	opacity:0.7;
	transition: all 1s;
}