*{
	margin:0;
	padding:0;
}
body{
	background: #353535;
	width:100%;
	height: 100%;
	
	}
header{
	width:100%;
	height: 70px;
	background: black;
	position: fixed;

}
header h3 {
	float: left;
	color: white;
	position: absolute;
	left:100px;
	top:20px;
	font-size: 25px;
	font-family: Brush Script MT;
}
header img {
	width:60px;
	height: 60px;
	border-radius: 100%;
	padding-left: 30px;
	padding-top:5px;
}

header ul{
	float: right;
}
header li  {
	list-style: none;
	float: left;
	padding: 20px 30px 20px 20px;
}
header li a{
	color: #ffa500;
	text-decoration: none;
}

.aside_form{
	position: fixed;
	top:70px;
	width:300px;
	height:665px;
	background: pink;
}
article{
	float: right;
	margin-right: 110px;
	width:1000px;
	height: 1200px;
	background: red;
	color: #ffa500;
}
.left_form{
	background: yellow;
	display: inline-block;
	box-sizing: border-box;
	width:250px;
	

}
.middle_form{
	display: inline-block;
	background: blue;
	box-sizing: border-box;
	width:300px;

	
}
.right_form{
	box-sizing: border-box;
	display: inline-block;
	margin-top: 100px;
	background: lime;
	width:350px;
}
